<app-menu></app-menu>
<div class="row">
    <div class="col-md-12">
        <div class="content">
            <table id="tablePaginacion" class="table table-striped table-bordered">
                <thead>
                    <tr>

                        <th>CMP</th>
                        <th>Nombre</th>
                        <th>Servicio </th>
                        <th>NESP </th>
                        <th>DNI </th>
                        <th>Fecha de Nacimiento</th>
                        <th>Celular</th>
                        <th>Email </th>
                        <th>Nombres </th>
                        <th>especualidad </th>
                        
                    </tr>
                    <tr *ngFor="let fmedicos of fmedicosservice.list">

                        <th> {{fmedicos.cmp}}</th>
                        <th> {{fmedicos.nomb}}</th>
                        <th> {{fmedicos.serv}}</th>
                        <th> {{fmedicos.nesp}}</th>
                        <th> {{fmedicos.dni}}</th>
                        <th> {{fmedicos.fecnac}}</th>
                        <th> {{fmedicos.celu}} </th>
                        <th> {{fmedicos.nombres}} </th>
                        <th> {{fmedicos.especialidad}} </th>
                        <th>
                            <app-turno></app-turno>
                        </th>
                    </tr>
                </thead>
                
            </table>
        </div>
    </div>

</div>
<app-footer></app-footer>