<div style="background-image:url(assets/img/clinica%20ennmel%20fachada.jpg); position: relative; background-repeat: no-repeat; background-size: 100%; ">
    <div class="container"  >
      <div class="row"  >
        
          <div class="col-md-3">
            <button class="btn btn-primary" type="button" onclick="location.href='login'"
            style="margin-top: 70%;margin-left: 100%;width: 250px;height: 80px; position: relative;">Agende su Cita</button>
          </div>
          <div class="col-md-3" >
            <button class="btn btn-primary" type="button" onclick="location.href='login'" style="margin-top: 70%;margin-left: 100%;width: 250px;height: 80px; position: relative;">Cuerpo Medico</button>
          </div>
         
        
        </div>
    </div>
      <app-footer></app-footer>
      <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  
  
    </div>
    