<footer class="footer-basic" style="padding: 18px 0px;margin-top: 25%; border-top: 1px;">
          <div class="social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a></div>
          <ul class="list-inline">
              <li class="list-inline-item"><a href="#" style="margin-left: 147px;">Inicio</a></li>
              <li class="list-inline-item"><a href="#" style="margin-left: 93px;">Agende su Cita</a></li>
              <li class="list-inline-item"></li>
              <li class="list-inline-item"></li>
          </ul>
          <p class="copyright">Sosnet © 2021</p>
      </footer>