<div style="background: url(&quot;assets/img/clinica%20ennmel%20fachada.jpg&quot;);">
    <section class="login-dark">
        <form>
            <h2 class="visually-hidden">Login Form</h2>
            <div class="illustration" style="background: url(&quot;assets/img/logoemmel.jpg&quot;) center no-repeat;height: 300px;"></div>
            <div class="mb-3"><input class="form-control" type="email" name="usuario" placeholder="Usuario"></div>
            <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Contraseña"></div>
            <div class="mb-3"><button class="btn btn-primary d-block w-100"  onclick="location.href='listar'">Ingresar</button></div>
            <a class="forgot" href="registro">Nuevo Usuario</a>
        </form>
    </section>
    
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</div>