<ng-template #turno let-modal>
    <form>
        <div class="logo" style="background-image:url(assets/img/soscli_net.jpg); background-position: center; ">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title"></h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="modal-body">
            <div class="row" style="padding-bottom: 10x;">
                <label class="col-2">Medico:</label>
                <div class="col">
                    <input class="form-control form-control-sm " name="cmp" type="text" />
                </div>
            </div>
            <hr>
            <label> Seleccione Turno</label><br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="turno" id="inlineRadio1" value="tur">
                <label class="form-check-label" for="inlineRadio1">Primer Turno</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="turno" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">Segundo Turno</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="turno" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">Tercer Turno</label>
            </div>

            <div class="row " style="padding-top: 10px;">
                <label class="col-3">Consultorio</label>
                <div class="col-5">
                    <select class="form-select form-select-sm " name="consultorio">
                        <option selected>No Especifica</option>
                        <option>c1</option>
                        <option>c2</option>
                        <option>c3</option>
                    </select>
                </div>
            </div>

            <div class="row " style="padding-top: 10px;">
                <div class="col-lg-5 ">
                    <label for="hinicio">Hora inicio</label>
                    <input type="time" id="hinicio" name="hinicio" class="form-control form-control-sm" value="00:00">
                </div>
                <div class="col-lg-5">
                    <label for="hfinal">Hora inicio</label>
                    <input type="time" id="hfinal" name="hfinal" class="form-control form-control-sm" value="00:00">
                </div>
            </div>
            <div class="row" style="padding-top: 15px;">
                <label class="col-4">Tiempo de Cita</label>
                <div class="col-4">
                    <select class="form-select form-select-sm" name="consultorio">
                        <option selected>No Especifica</option>
                        <option>5</option>
                        <option>10</option>
                        <option>15</option>
                    </select>
                </div>
            </div>
            <label> Días de Programcion</label><br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="dprogramcion[]" id="inlineRadio1" value="option1">
                <label class="form-check-label">Lunes</label>

            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="dprogramcion[]" id="inlineRadio2" value="option2">
                <label class="form-check-label">Martes</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="dprogramcion[]" id="inlineRadio2" value="option2">
                <label class="form-check-label">Miercoles</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="dprogramcion[]" id="inlineRadio2" value="option2">
                <label class="form-check-label">Jueves</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="dprogramcion[]" id="inlineRadio2" value="option2">
                <label class="form-check-label">Viernes</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="dprogramcion[]" id="inlineRadio2" value="option2">
                <label class="form-check-label">Sabado</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="dprogramcion[]" id="inlineRadio2" value="option2">
                <label class="form-check-label">Domingo</label>
            </div>

            <div>
                <textarea class="form-control" rows="3" name="comentario" style="margin-top: 10px; margin-bottom: 10px;"
                    placeholder="Comentarios.."></textarea>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" name="estado">
                    <label class="form-check-label">
                        Estado
                    </label>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" style="margin-left: 25%; margin-bottom: 10px">Aceptar</button>
            <button type="reset" class="btn btn-danger" style="margin-left: 10%; margin-bottom: 10px;">Cancelar</button>
        </div>
    </form>


</ng-template>
<button type="button" class="fas fa-pencil-alt" (click)="modal.open(turno)"></button>